.navbar_contents {
  margin: 20px auto;
  width: 1000px;
}

.top_icon {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
}

.area_search_box {
  display: inline-block;
  margin-left: 70px;
  width: 780px;
  height: 30px;
  border-radius: 3px;
  background-color: #f5f5f5;
}

.navbar_contens_bottom {
  margin-top: 20px;
}

.area_choose_bar_top {
  display: inline;
  padding-left: 0;
}

.area_choose_bar_top li {
  list-style-type: none;
}

.area_choose_bar_top > li {
  position: relative;
  display: inline;
}

.area_choose_bar_top > li > ul {
  position: absolute;
  padding-top: 10px;
}

.area_choose_bar_top li li {
  height: 0;
  overflow: hidden;
}

.area_choose_bar_top > li > ul {
  padding-left: 0;
}

.area_choose_bar_top li:hover > ul > li {
    height: 2rem;
    overflow: visible;
}

.area_choose_bar_top > li > ul > li > ul {
    left: 100%;
    position: absolute;
    top: 0;
    width: 200px;
    padding-top: 10px;
    padding-left: 30px;
}

.country_product_container {
    margin: 20px auto;
    width: 1000px;
    padding-top: 50px;
}

.country_product_title {
  font-weight: bold;
}

.product_parts {
  width: 180px;
  float: left;
  margin-top: 30px;
  margin-right: 18px;
  border: thin solid #d3d3d3;
  height: 250px;
  border-radius: 5px;
}

.register_button {
  margin-left: 675px;
  background-color: #ff4500;
  color: #fff;
  padding: 7px 10px;
  border-radius: 5px;
}

.login_button {
  color: #1e90ff;
  border: thin solid #1e90ff;
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: 10px;
}