<ul class="area_choose_bar_top">
  <li>
    エリアから探す
    <ul>
      <li>
        北米
        <ul>
          <li>アメリカ</li>
          <li>カナダ</li>
        </ul>
      </li>
      <li>
        南米
        <ul>
          <li>メキシコ</li>
          <li>ウルグアイ</li>
          <li>エクアドル</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>