<div class="navbar">
  <div class="navbar_contents">
    <div class="navbar_contens_top">
      <% if !logged_in? %>
        <%= link_to 'おみやさがし', root_path, class: "top_icon" %>
      <% else %>
        <%= link_to 'おみやさがし', users_path, class: "top_icon" %>
      <% end %>
      <input type="text" class="area_search_box" >
    </div>
    <div class="navbar_contens_bottom">
      <%= render 'layouts/areacategory' %>
    </div>
  </div>
</div>