<div class="navbar">
  <div class="navbar_contents">
    <div class="navbar_contens_top">
      <div class="top_icon">おみやさがし</div>
      <input type="text" class="area_search_box" >
    </div>
    <div class="navbar_contens_bottom">
      <div class="area_choose_bar">
        <%= render 'layouts/areacategory' %>
      </div>
    </div>
  </div>
</div>